---
import Drawer from '../components/Drawer.astro';
import {SITE_TITLE} from "../constants";

interface Props {
	title: string;
}

const { title } = Astro.props;
const metaTitle = `${SITE_TITLE} - ${title}`
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="This Is Learning Conference 2024" />
	 	<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{metaTitle}</title>

		<meta property="og:image" content={new URL('/images/banner.webp', Astro.url)} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content="This Is Learning Conference 2024" />
		<meta property="twitter:image" content={new URL('/images/banner.webp', Astro.url)} />
	</head>
	<body>
			<Drawer>
				<slot />
			</Drawer>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "FreeSans Bold";
		src: local('Trebutchet MS'), url("/fonts/FreeSansBold.ttf");
		font-display: swap;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	--big_screen: 2000px;
    --desktop_xl: 1920px;
    --desktop: 1366px;
    --desktop_sm: 1050px;
    --tablet_max: 1025px;
    --tablet_md: 1000px;
    --tablet_min: 768px;
    --mobile_lg: 600px;
    --mobile_md: 420px;
    --mobile_sm: 390px;
    --mobile_xs: 281px;
    --small_height: 593px;
   --small_height_max: 800px;
   --custom_stream_pass_iphone: 380px;
	}
	html {
		font-family: "FreeSans Bold", sans-serif;
		background-image: linear-gradient(transparent 23px, #b8b5b7 24px, transparent 24px), linear-gradient(90deg, transparent 23px, #b8b5b7 24px, transparent 24px); background-size: 100% 24px, 24px 100%;

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
